/*COMPONENTS -> MISC*/
/*Countdown*/
.deals-countdown {
    .countdown-section {
        position: relative;
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        padding: .9rem 0 .3rem;
        margin-left: .8rem;
        margin-right: .8rem;
        background-color: $color-brand;
        border-radius: .3rem;
        border: none;
        margin-bottom: 2rem;

        .countdown-amount {
            display: inline-block;
            color: #fff;
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 15px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
        }

        .countdown-period {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            bottom: -20px;
            display: block;
            font-weight: 400;
            color: $color-grey-4;
            text-transform: uppercase;
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:not(:last-child)::after {
            color: $color-grey-1;
            content: ':';
            display: inline-block;
            font-weight: 400;
            font-size: 20px;
            line-height: 1;
            position: absolute;
            left: 100%;
            margin-left: 12px;
            margin-top: -1px;
            top: 50%;
            transform: translateY(-50%);
            -ms-transform: translateY(-50%);
        }
    }
}

.img-grey-hover {
    opacity: .5;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition-duration: 0.3s;

    &:hover {
        filter: none;
        opacity: 1;
        transition-duration: 0.3s;
    }
}

.brand-logo {
    img {
        max-height: 50px;
        width: auto;
        display: inline-block;
    }
}

/*Heading tab*/
.heading-tab {
    align-items: center;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
}

/*page loading*/
.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto
}

.preloader img.jump {
    max-height: 100px;
}

/*custom amine*/
.loader,
.bar {
    width: 100px;
    height: 20px;
}

.bar {
    position: absolute;
    display: flex;
    align-items: center;
}

.bar::before,
.bar::after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: #3fa9f5;
    opacity: 0;
    border-radius: 10px;
    animation: slideleft 3s ease-in-out infinite;
}

.bar1::before {
    animation-delay: 0.00s
}

.bar1::after {
    animation-delay: 0.3s
}

.bar2::before {
    animation-delay: 0.60s
}

.bar2::after {
    animation-delay: 0.90s
}

.bar3::before {
    animation-delay: 1.20s
}

.bar3::after {
    animation-delay: 1.50s
}

/*page header*/
.page-header {
    .page-title {
        font-weight: 900;
        font-size: 4rem;
    }

    &.breadcrumb-wrap {
        padding: 20px;
        background-color: #f7f8f9;
    }

    .breadcrumb {
        display: inline-block;
        padding: 0;
        text-transform: capitalize;
        color: #6e6e6e;
        font-size: 0.875rem;
        background: none;
        margin: 0;
        border-radius: 0;

        span {
            position: relative;
            text-align: center;
            padding: 0 10px;

            &::before {
                content: "\f105";
                font-family: "Font Awesome 5 Pro";
                display: inline-block;
                font-size: 9px;
            }
        }
    }
}

/*Map*/
.leaflet-map {
    height: 350px;
    width: 100%;
}

/*table*/
table {
    width: 100%;
    margin-bottom: 1.5rem;
    border-collapse: collapse;
    vertical-align: middle;

    td, th {
        padding: 10px 20px;
        border: 1px solid #eee;
        vertical-align: middle;
    }

    thead > tr > th {
        vertical-align: middle;
        border-bottom: 0;
    }

    p {
        margin-bottom: 0;
    }

    &.clean {
        td, th {
            border: 0;
            border-top: 1px solid #eee;
        }
    }

    .product-thumbnail img {
        max-width: 80px;
    }
}

/*divider*/
.divider {
    position: relative;
    overflow: hidden;
    height: 4px;
    z-index: 9;

    &.center_icon {
        text-align: center;
        height: auto;
    }

    &::before, &::after {
        content: '';
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        height: 0;
        border-top: 1px solid #eee;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    &::before {
        margin-top: -1px;
    }

    &::after {
        margin-top: 1px;
    }

    i {
        background-color: #fff;
        color: #aaa;
        position: relative;
        z-index: 1;
        font-size: 20px;
        padding: 0 20px;
        line-height: 1;
    }
}
